.college_heading{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size:14px;
    letter-spacing: 0;
    color: #474747;
    opacity: 1;
}

.heading_presents{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size:12px;
    letter-spacing: 0;
    color: #646464;
    opacity: 1;
    margin-bottom: 0px;
}

.heading_summon{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size:24px;
    letter-spacing: 0;
    color: #1B6242;
    opacity: 1;
}

.heading_inter_iiit{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size:28px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
    background-color: #1B6242;
    margin-top: 5px;
}

.heading_date{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size:27px;
    letter-spacing: 0;
    color: #070606;
    opacity: 1;
}

.pdpm-logo{
    height: 68px; 
    width:70px;
}

.sprint_run{
    width: 80%; 
    border: 2px solid #362525; 
    /* background-image:url(../images/Asset1.png   );  */
    /* background-repeat: no-repeat;  */
    padding : 30px 15px;
}

.summon_image{
}

.col_class_left{
}

.col_class_right{
}

@media screen and (min-width: 800px){
    .college_heading{
        font-size:14px;
        margin-bottom: 0px;
    }
    .view_small{
        display: none;
    }
    .view_large{
        display: inline;
    }
    .heading_inter_iiit{
        margin-top: 10px;
    }
    .col_class_right{
        margin-top: 60px;
    }
}


@media screen and (max-width: 1132px){
    .college_heading{
        font-size:8px;
        margin-bottom: 0px;
    }
    .view_small{
        display: none;
    }
    .view_large{
        display: inline;
    }
    .heading_date{
        font-size: 18px;
    }
    .heading_inter_iiit{
        margin-top: 5px;
    }
    .col_class_right{
        margin-top: 0px;
    }

}

@media screen and (max-width: 800px){
    .college_heading{
        font-size:12px;
        margin-bottom: 0px;
    }
    .view_small{
        display: inline;
    }
    .view_large{
        display: none;
    }

}
