.list-group-item.active {
    background-color: rgb(255, 224, 243)!important;;
    border-color: rgb(255, 224, 243)!important;;
}

.shadow{
    /* background-color: rgb(226, 174, 206)!important; */
    -webkit-box-shadow: 0 4px 3px -3px #999;
    -moz-box-shadow: 0 4px 3px -3px #999;
    box-shadow: 0 4px 3px -3px #999;
}

.first_div{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.font_format{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #222;
    text-shadow: 0px 1px 1.5px #555;
}

.numbering_formating{
    color: #222;
    text-shadow: 0px 1px 1.5px #555;
}

.api_data_render{
    margin-left: -30px;
}

pre{
    height: 400px;
    padding: 5px; 
    margin: 5px; 
    color: rgb(226, 10, 10);
}

#selection_box{
    display: none;
}

select{
    width: 200px!important;
}

.navbar-text{
    color: blue;
    font-size: large;
    padding-right: 15px;
}

#api_container{
    display: none;
}

.tab_1 td{
    height: 15px;
}

.json_collapse{
    height: 300px;
}

#tab_2_json{
    overflow: auto;
    height: 450px;
}

.form-control{
    width:400px;
}

#tab_1_json{
    overflow: auto;
    height: 500px;
    margin-top: 10px;
}

.json_list_button:hover{
    background-color:rgb(255, 224, 243);
    color: #222;
    text-shadow: 0px 0.5px 0.5px #555;
}

.resource_list{
    width: 400px;
    height: 550px;
    overflow: auto;
}

.string { color: rgb(39, 58, 139); }
.number { color: darkorange; }
.boolean { color: rgb(24, 133, 39); }
.null { color: magenta; }
.key { color: rgb(192, 33, 33); }
